In [5]:
import requests
import requests
from urllib.parse import urlencode
import pandas as pd
import numpy as np

C:\Users\fealg\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
api_key= "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"


### Google Cloud Platform Tutorial

In [69]:
def extract_lat_lng(address_or_postalcode, data_type = 'json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)
    if r.status_code not in range(200, 299): 
        return {}
    latlng = {}
    try:
        latlng = r.json()['results'][0]['geometry']['location']
    except:
        pass
    return latlng.get("lat"), latlng.get("lng")

#### Testing code

In [70]:
extract_lat_lng("1600 Amphitheatre Parkway, Mountain View, CA")

(37.4223878, -122.0841877)

In [71]:
from urllib.parse import urlparse, parse_qsl
to_parse = sample = "https://maps.googleapis.com/maps/api/geocode/json?place_id=ChIJeRpOeF67j4AR9ydy_PIzPuM&key=api_key"

In [72]:
urlparse(to_parse)

ParseResult(scheme='https', netloc='maps.googleapis.com', path='/maps/api/geocode/json', params='', query='place_id=ChIJeRpOeF67j4AR9ydy_PIzPuM&key=api_key', fragment='')

In [73]:
parsed_url = urlparse(to_parse)
query_string = parsed_url.query
query_string

'place_id=ChIJeRpOeF67j4AR9ydy_PIzPuM&key=api_key'

In [74]:
query_tuple = parse_qsl(query_string)
print(query_tuple)

[('place_id', 'ChIJeRpOeF67j4AR9ydy_PIzPuM'), ('key', 'api_key')]

In [75]:
query_dict = dict(query_tuple)
query_dict

{'place_id': 'ChIJeRpOeF67j4AR9ydy_PIzPuM', 'key': 'api_key'}

## Extract Restaurant Information

* The Google API searches for restaurant using a circular area of 5000 meters.

In [6]:

lat, lng = 62.473060, 6.155634 # Aalesund
base_endpoint_places = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
params = {
    "key": api_key,
    "input": "Restaurant",
    "inputtype": "textquery",
    "fields": "place_id,formatted_address,name,geometry,permanently_closed"
}
locationbias = f"point:{lat},{lng}"
use_cirular = True
if use_cirular:
    radius = 5000
    locationbias = f"circle:{radius}@{lat},{lng}"

params['locationbias'] = locationbias

params_encoded = urlencode(params)
places_endpoint = f"{base_endpoint_places}?{params_encoded}"
print(places_endpoint)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?key=AIzaSyAA4sQINXPpT8tWTeRYvD8RduaorS351uQ&input=Restaurant&inputtype=textquery&fields=place_id%2Cformatted_address%2Cname%2Cgeometry%2Cpermanently_closed&locationbias=circle%3A5000%4062.47306%2C6.155634

In [7]:
r = requests.get(places_endpoint)
print(r.status_code)

200

## Code for Aalesund.

In [8]:
places_endpoint_2 = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params_2 = {
    "key": api_key,
    "location": f"{lat},{lng}",
    "radius": 5000,
    "keyword": "burger"
}
params_2_encoded = urlencode(params_2)
places_url = f"{places_endpoint_2}?{params_2_encoded}"

r2 = requests.get(places_url)
jsrults = r2.json()['results']

In [9]:
df = pd.json_normalize(jsrults)
df

,business_status,icon,icon_background_color,icon_mask_base_uri,name,photos,place_id,price_level,rating,reference,...,vicinity,geometry.location.lat,geometry.location.lng,geometry.viewport.northeast.lat,geometry.viewport.northeast.lng,geometry.viewport.southwest.lat,geometry.viewport.southwest.lng,opening_hours.open_now,plus_code.compound_code,plus_code.global_code
0,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Burger King Ålesund Storsenter,"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJycuk30baFkYR5cNkHwcsxsE,1.0,3.6,ChIJycuk30baFkYR5cNkHwcsxsE,...,"Kipervikgata 5, Ålesund",62.471872,6.159273,62.473193,6.160648,62.470493,6.157948,False,"F5C5+PP Ålesund, Norway",9FJ8F5C5+PP
1,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Emil's Burger & Kebab House Ålesund,"[{'height': 1242, 'html_attributions': ['<a hr...",ChIJL4l-qPrbFkYRDis-EvYHTGc,NaN,4.1,ChIJL4l-qPrbFkYRDis-EvYHTGc,...,"Apotekergata 12, Ålesund",62.471596,6.150733,62.472921,6.152147,62.470222,6.149448,False,"F5C2+J7 Ålesund, Norway",9FJ8F5C2+J7
2,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,The Greedy Box,"[{'height': 1080, 'html_attributions': ['<a hr...",ChIJ1Zlkf33bFkYRBuOlmcqviKY,NaN,4.8,ChIJ1Zlkf33bFkYRBuOlmcqviKY,...,"Kiperviktorget 1, Ålesund",62.471290,6.160275,62.472616,6.161330,62.469917,6.158630,False,"F5C6+G4 Ålesund, Norway",9FJ8F5C6+G4
3,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,The Real American Steakhouse,"[{'height': 2976, 'html_attributions': ['<a hr...",ChIJu-WPvzjaFkYR3iFgerTGhhc,2.0,3.8,ChIJu-WPvzjaFkYR3iFgerTGhhc,...,"Apotekergata 2, Ålesund",62.472234,6.152000,62.473589,6.153338,62.470890,6.150638,False,"F5C2+VR Ålesund, Norway",9FJ8F5C2+VR
4,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Jafs,"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJS9A7iTjaFkYRQYRaxZhjBG8,2.0,4.2,ChIJS9A7iTjaFkYRQYRaxZhjBG8,...,"Lorkenestorget, Ålesund",62.470954,6.152255,62.472297,6.153582,62.469597,6.150882,False,"F5C2+9W Ålesund, Norway",9FJ8F5C2+9W
5,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Pluto Kiosk og Gatekjøkken,"[{'height': 2448, 'html_attributions': ['<a hr...",ChIJAaUnY-raFkYRQeA1vAdvS6E,2.0,4.2,ChIJAaUnY-raFkYRQeA1vAdvS6E,...,"Fogd Greves veg 3, Ålesund",62.472691,6.230997,62.474133,6.232332,62.471434,6.229632,False,"F6FJ+39 Ålesund, Norway",9FJ8F6FJ+39
6,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,"Happy Elefante - Bar, Grill & Music","[{'height': 723, 'html_attributions': ['<a hre...",ChIJs3NYLsLbFkYRM5GCLLfMhUg,NaN,4.2,ChIJs3NYLsLbFkYRM5GCLLfMhUg,...,"Kongens gate 19, Ålesund",62.474453,6.156645,62.475831,6.157965,62.473132,6.155265,False,"F5F4+QM Ålesund, Norway",9FJ8F5F4+QM
7,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Stuen AS,"[{'height': 2268, 'html_attributions': ['<a hr...",ChIJv0nOZj_aFkYR_EqkZsqgekA,NaN,4.5,ChIJv0nOZj_aFkYR_EqkZsqgekA,...,"Tollbugata 1, Ålesund",62.475341,6.154117,62.476609,6.155456,62.473910,6.152756,False,"F5G3+4J Ålesund, Norway",9FJ8F5G3+4J
8,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Emil's Burger & Kebab House,"[{'height': 4160, 'html_attributions': ['<a hr...",ChIJq2T59TjaFkYR9CMN0UDwYUg,1.0,4.0,ChIJq2T59TjaFkYR9CMN0UDwYUg,...,"Nedre Strandgate 1, Ålesund",62.470667,6.151114,62.472072,6.152421,62.469372,6.149722,False,"F5C2+7C Ålesund, Norway",9FJ8F5C2+7C
9,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Egon,"[{'height': 4640, 'html_attributions': ['<a hr...",ChIJjSYcLkfaFkYRiuEBPeKF2y8,2.0,3.9,ChIJjSYcLkfaFkYRiuEBPeKF2y8,...,"Løvenvoldgata 8, Ålesund",62.472797,6.158638,62.474168,6.160016,62.471468,6.157316,False,"F5F5+4F Ålesund, Norway",9FJ8F5F5+4F
10,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Molo Brew,"[{'height': 2322, 'html_attributions': ['<a hr...",ChIJ_dXYdjjaFkYRVxA57n5sYuI,2.0,4.4,ChIJ_dXYdjjaFkYRVxA57n5sYuI,...,"Keiser Wilhelms g. 2B, Ålesund",62.469633,6.153186,62.471096,6.153907,62.468396,6.151208,False,"F593+V7 Ålesund, Norway",9FJ8F593+V7
11,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Anno Restaurant & Lounge Bar,"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJm-MQ8jjaFkYR0BI_wOD_YZg,2.0,4.3,ChIJm-MQ8jjaFkYR0BI_wOD_YZg,...,"Apotekergata 9B, Ålesund",62.471219,6.151157,62.472568,6.152496,62.469868,6.149796,False,"F5C2+FF Ålesund, Norway",9FJ8F5C2+FF
12,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Bulls Brygge Restaurant,"[{'height': 640, 'html_attributions': ['<a hre...",ChIJLzVofT_aFkYR6j0hZL-cvEw,NaN,2.7,ChIJLzVofT_aFkYR6j0hZL-cvEw,...,"S. Bullsgt 7, Ålesund",62.475745,6.155177,62.477022,6.156558,62.474323,6.153858,False,"F5G4+73 Ålesund, Norway",9FJ8F5G4+73
13,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Kebab King,"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJ0-SdtvvbFkYR-F6a60W0KQ0,NaN,4.2,ChIJ0-SdtvvbFkYR-F6a60W0KQ0,...,"Kiperviktorget E136, Ålesund",62.471232,6.160143,62.472516,6.161496,62.469816,6.158797,False,"F5C6+F3 Ålesund, Norway",9FJ8F5C6+F3
14,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,The Greedy Box,NaN,ChIJjwD8MFPbFkYRF14IshuQmT0,NaN,0.0,ChIJjwD8MFPbFkYRF14IshuQmT0,...,"Øwregata 2, Ålesund",62.472465,6.151457,62.473789,6.152833,62.471089,6.150134,NaN,"F5C2+XH Ålesund, Norway",9FJ8F5C2+XH
15,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Master Mat,"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJ5Vgphe3bFkYR0hF6ze-k5pg,NaN,4.0,ChIJ5Vgphe3bFkYR0hF6ze-k5pg,...,"Sundgata 1, Ålesund",62.471237,6.166482,62.472627,6.167719,62.469927,6.165019,False,"F5C8+FH Ålesund, Norway",9FJ8F5C8+FH
16,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Møre Restaurant & Pub As,NaN,ChIJX1Gp8TjaFkYRysfJeuVkX1I,NaN,0.0,ChIJX1Gp8TjaFkYRysfJeuVkX1I,...,"Kirkegata 1, Ålesund",62.471249,6.150729,62.472668,6.152204,62.469968,6.149504,False,"F5C2+G8 Ålesund, Norway",9FJ8F5C2+G8
17,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Yamma Pizza Kebab,"[{'height': 2084, 'html_attributions': ['<a hr...",ChIJ_W36QETaFkYRXvumxVF2VNA,NaN,0.0,ChIJ_W36QETaFkYRXvumxVF2VNA,...,"Sundgata, Ålesund",62.471204,6.166471,62.472540,6.167767,62.469840,6.165067,NaN,"F5C8+FH Ålesund, Norway",9FJ8F5C8+FH
18,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Sāma Golden Kebab,"[{'height': 3264, 'html_attributions': ['<a hr...",ChIJpf1pv9PbFkYRl4_4PaU5qG4,NaN,4.2,ChIJpf1pv9PbFkYRl4_4PaU5qG4,...,"St. Olavs plass 2, Ålesund",62.472640,6.155892,62.473979,6.157332,62.471279,6.154633,True,"F5F4+39 Ålesund, Norway",9FJ8F5F4+39
19,OPERATIONAL,https://maps.gstatic.com/mapfiles/place_api/ic...,#FF9E67,https://maps.gstatic.com/mapfiles/place_api/ic...,Express Pizza,"[{'height': 4032, 'html_attributions': ['<a hr...",ChIJy0TPADnaFkYRxXeO4brhH84,NaN,4.2,ChIJy0TPADnaFkYRxXeO4brhH84,...,"Apotekergata 8, Ålesund",62.471944,6.151266,62.473262,6.152703,62.470562,6.150004,False,"F5C2+QG Ålesund, Norway",9FJ8F5C2+QG

In [169]:
df.columns

Index(['business_status', 'icon', 'icon_background_color',
       'icon_mask_base_uri', 'name', 'photos', 'place_id', 'rating',
       'reference', 'scope', 'types', 'user_ratings_total', 'vicinity',
       'geometry.location.lat', 'geometry.location.lng',
       'geometry.viewport.northeast.lat', 'geometry.viewport.northeast.lng',
       'geometry.viewport.southwest.lat', 'geometry.viewport.southwest.lng',
       'opening_hours.open_now', 'plus_code.compound_code',
       'plus_code.global_code', 'price_level'],
      dtype='object')

In [147]:
Pizza = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Pizza

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Nonna Lina ristorante pizzeria café,4.5,740,2.0,"F5C4+GF Ålesund, Norway"
1,OPERATIONAL,Emil's Burger & Kebab House Ålesund,4.1,107,NaN,"F5C2+J7 Ålesund, Norway"
2,OPERATIONAL,Steinovnen Bar & Pizzeria,4.2,358,2.0,"F5C8+Q8 Ålesund, Norway"
3,OPERATIONAL,Cinque minuti,4.6,476,2.0,"F5F4+GR Ålesund, Norway"
4,OPERATIONAL,Pizzabakeren Øysenteret,4.2,92,2.0,"F4XJ+Q9 Valderhaugstranda, Norway"

In [124]:
Bakeri = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Bakeri

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Valaker bakeri,3.9,48,NaN,"F5C3+FF Ålesund, Norway"
1,OPERATIONAL,Valaker,3.9,56,NaN,"F5F5+3G Ålesund, Norway"
2,OPERATIONAL,Walderhaug Bakery and Confectionery,4.4,385,2.0,"F5G4+22 Ålesund, Norway"
3,OPERATIONAL,Bakerinnå,5.0,8,NaN,"F5C3+MW Ålesund, Norway"
4,OPERATIONAL,Flobeu | Bakeri - Konditori | Ålesund,5.0,6,NaN,"F5C5+H2 Ålesund, Norway"
5,OPERATIONAL,Deig-lig Homemade sweets,5.0,3,NaN,"F5C9+JF Ålesund, Norway"
6,OPERATIONAL,N.A Dessert,5.0,4,NaN,"F5G7+PX Ålesund, Norway"
7,OPERATIONAL,Devie's Donuts,5.0,6,NaN,"F5C2+XH Ålesund, Norway"

In [127]:
Sushi = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Sushi

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Ålesund sushi,4.1,98,2.0,"F5CC+HF Ålesund, Norway"
1,OPERATIONAL,T&T Sushi,3.6,14,NaN,"F5C6+G5 Ålesund, Norway"
2,OPERATIONAL,Zuuma,4.4,903,2.0,"F5F4+CG Ålesund, Norway"
3,OPERATIONAL,Fisketorget Delikatesse AS,4.6,156,2.0,"F5C5+H2 Ålesund, Norway"
4,OPERATIONAL,Thong Thai,4.7,59,NaN,"C5RV+5P Sula Municipality, Norway"
5,CLOSED_TEMPORARILY,Orient Restaurant og Bar,4.3,326,2.0,"F5G4+3M Ålesund, Norway"
6,OPERATIONAL,Long Cheng Restaurant,3.9,539,2.0,"F5F4+XC Ålesund, Norway"
7,OPERATIONAL,Sjøbua,4.4,477,3.0,"F5F3+6H Ålesund, Norway"
8,OPERATIONAL,Krua Thai,4.3,50,NaN,"F5C6+H5 Ålesund, Norway"
9,OPERATIONAL,Wok&Grill,4.5,113,NaN,"F5C6+M9 Ålesund, Norway"
10,OPERATIONAL,Express Pizza,4.2,214,NaN,"F5C2+QG Ålesund, Norway"
11,OPERATIONAL,Sāma Golden Kebab,4.2,71,NaN,"F5F4+39 Ålesund, Norway"
12,OPERATIONAL,Krua Thai Takeaway AS,0.0,0,NaN,"F445+8M Ålesund, Norway"

In [131]:
Burger = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Burger

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Burger King Ålesund Storsenter,3.6,790,1.0,"F5C5+PP Ålesund, Norway"
1,OPERATIONAL,Emil's Burger & Kebab House Ålesund,4.1,107,NaN,"F5C2+J7 Ålesund, Norway"
2,OPERATIONAL,The Greedy Box,4.8,178,NaN,"F5C6+G4 Ålesund, Norway"
3,OPERATIONAL,The Real American Steakhouse,3.8,372,2.0,"F5C2+VR Ålesund, Norway"
4,OPERATIONAL,"Happy Elefante - Bar, Grill & Music",4.2,704,NaN,"F5F4+QM Ålesund, Norway"
5,OPERATIONAL,Molo Brew,4.4,1454,2.0,"F593+V7 Ålesund, Norway"
6,OPERATIONAL,Jafs,4.2,657,2.0,"F5C2+9W Ålesund, Norway"
7,OPERATIONAL,Emil's Burger & Kebab House,4.0,283,1.0,"F5C2+7C Ålesund, Norway"
8,OPERATIONAL,Kebab King,4.2,6,NaN,"F5C6+F3 Ålesund, Norway"
9,OPERATIONAL,Stuen AS,4.5,938,NaN,"F5G3+4J Ålesund, Norway"
10,OPERATIONAL,Egon,3.9,1410,2.0,"F5F5+4F Ålesund, Norway"
11,OPERATIONAL,Anno Restaurant & Lounge Bar,4.3,848,2.0,"F5C2+FF Ålesund, Norway"
12,OPERATIONAL,Bulls Brygge Restaurant,2.7,6,NaN,"F5G4+73 Ålesund, Norway"
13,OPERATIONAL,Pluto Kiosk og Gatekjøkken,4.2,402,2.0,"F6FJ+39 Ålesund, Norway"
14,OPERATIONAL,Sāma Golden Kebab,4.2,71,NaN,"F5F4+39 Ålesund, Norway"
15,OPERATIONAL,Vinni bar og restaurant,5.0,4,NaN,"F5C4+H4 Ålesund, Norway"
16,OPERATIONAL,Møre Restaurant & Pub As,0.0,0,NaN,"F5C2+G8 Ålesund, Norway"
17,OPERATIONAL,Express Pizza,4.2,214,NaN,"F5C2+QG Ålesund, Norway"
18,OPERATIONAL,Yamma Pizza Kebab,0.0,0,NaN,"F5C8+FH Ålesund, Norway"
19,OPERATIONAL,Master Mat,4.0,125,NaN,"F5C8+FH Ålesund, Norway"

In [135]:
Asian = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Asian

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Unchoo Asian Food,5.0,1,NaN,"F4XM+H4 Valderhaugstranda, Norway"
1,OPERATIONAL,Restaurant HK,4.4,129,NaN,"F5G4+2J Ålesund, Norway"
2,OPERATIONAL,Long Cheng Restaurant,3.9,539,2.0,"F5F4+XC Ålesund, Norway"
3,OPERATIONAL,Torghallen Dagligvare,4.1,23,NaN,"F5C2+59 Ålesund, Norway"
4,OPERATIONAL,SOI ONE - Thai Street Food,4.5,28,NaN,"C5RR+FG Langevåg, Norway"
5,OPERATIONAL,Padmax AS,4.4,40,NaN,"F5C3+9H Ålesund, Norway"
6,OPERATIONAL,Wok&Grill,4.5,113,NaN,"F5C6+M9 Ålesund, Norway"
7,OPERATIONAL,Ålesund Asia Shop,4.5,29,NaN,"F5C2+H3 Ålesund, Norway"
8,OPERATIONAL,Rotsabieng AS,4.8,79,1.0,"F5C7+HR Ålesund, Norway"
9,CLOSED_TEMPORARILY,Orient Restaurant og Bar,4.3,326,2.0,"F5G4+3M Ålesund, Norway"
10,OPERATIONAL,Fumo Cafe & Bar,4.8,41,NaN,"F5F4+CR Ålesund, Norway"
11,OPERATIONAL,Krua Thai,4.3,50,NaN,"F5C6+H5 Ålesund, Norway"
12,OPERATIONAL,Tajmahal Tandoori Restaurant,4.0,509,2.0,"F5G4+4J Ålesund, Norway"
13,OPERATIONAL,Zuuma,4.4,903,2.0,"F5F4+CG Ålesund, Norway"
14,OPERATIONAL,Tang Thai Massage,4.2,6,NaN,"F4CW+7Q Ålesund, Norway"

In [139]:
Grill = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Grill

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Wok&Grill,4.5,113,NaN,"F5C6+M9 Ålesund, Norway"
1,OPERATIONAL,"Happy Elefante - Bar, Grill & Music",4.2,704,NaN,"F5F4+QM Ålesund, Norway"
2,OPERATIONAL,The Real American Steakhouse,3.8,372,2.0,"F5C2+VR Ålesund, Norway"
3,OPERATIONAL,Express Pizza,4.2,214,NaN,"F5C2+QG Ålesund, Norway"
4,OPERATIONAL,Zuuma,4.4,903,2.0,"F5F4+CG Ålesund, Norway"
5,OPERATIONAL,Yamma Pizza Kebab,0.0,0,NaN,"F5C8+FH Ålesund, Norway"
6,OPERATIONAL,Master Mat,4.0,125,NaN,"F5C8+FH Ålesund, Norway"
7,OPERATIONAL,Pluto Kiosk og Gatekjøkken,4.2,402,2.0,"F6FJ+39 Ålesund, Norway"
8,OPERATIONAL,The Greedy Box,4.8,178,NaN,"F5C6+G4 Ålesund, Norway"
9,OPERATIONAL,Ålesund Kebab Shawerma & Pizza (Halal),4.1,299,NaN,"F5C3+J8 Ålesund, Norway"
10,OPERATIONAL,Tajmahal Tandoori Restaurant,4.0,509,2.0,"F5G4+4J Ålesund, Norway"
11,OPERATIONAL,Dampsentralen,4.2,106,NaN,"F5C5+F6 Ålesund, Norway"
12,CLOSED_TEMPORARILY,Orient Restaurant og Bar,4.3,326,2.0,"F5G4+3M Ålesund, Norway"
13,OPERATIONAL,SOI ONE - Thai Street Food,4.5,28,NaN,"C5RR+FG Langevåg, Norway"
14,OPERATIONAL,Bro Kystgastronomi,4.2,375,NaN,"F5C3+G5 Ålesund, Norway"
15,OPERATIONAL,Sjøbua,4.4,477,3.0,"F5F3+6H Ålesund, Norway"
16,OPERATIONAL,Steinovnen Bar & Pizzeria,4.2,358,2.0,"F5C8+Q8 Ålesund, Norway"
17,OPERATIONAL,Childrens Fort,4.6,21,NaN,"F39V+PF Ålesund, Norway"
18,OPERATIONAL,Quality Hotel Ålesund,4.3,606,NaN,"F5G4+74 Ålesund, Norway"
19,OPERATIONAL,Quality Hotel Waterfront,4.2,1616,NaN,"F4CW+2G Ålesund, Norway"

In [144]:
bowl = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
bowl

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Egon,3.9,1410,2.0,"F5F5+4F Ålesund, Norway"
1,OPERATIONAL,Tante Bruun interior and design AS,4.2,58,2.0,"F5F5+44 Ålesund, Norway"
2,OPERATIONAL,Ålesund sushi,4.1,98,2.0,"F5CC+HF Ålesund, Norway"
3,OPERATIONAL,EVERGREENS BISTRO,4.6,88,NaN,"F5C3+FG Ålesund, Norway"
4,OPERATIONAL,Zuuma,4.4,903,2.0,"F5F4+CG Ålesund, Norway"
5,OPERATIONAL,Fisketorget Delikatesse AS,4.6,156,2.0,"F5C5+H2 Ålesund, Norway"
6,OPERATIONAL,Tajmahal Tandoori Restaurant,4.0,509,2.0,"F5G4+4J Ålesund, Norway"
7,OPERATIONAL,Gyros House Ålesund,4.4,8,NaN,"F5C5+GR Ålesund, Norway"
8,OPERATIONAL,REMA 1000 STRANDGATA,4.3,572,NaN,"F4CQ+39 Ålesund, Norway"
9,OPERATIONAL,REMA 1000 LANGEVÅG,4.2,195,NaN,"C5RW+82 Langevåg, Norway"
10,OPERATIONAL,XL Diner,4.5,781,3.0,"F5F3+PX Ålesund, Norway"
11,OPERATIONAL,Europris Langevåg,4.3,12,NaN,"C6PP+X2 Langevåg, Norway"
12,OPERATIONAL,Kitch'n Ålesund Storsenter,4.4,8,NaN,"F5F5+44 Ålesund, Norway"
13,OPERATIONAL,KIWI Klokkersund,4.2,442,NaN,"F68W+J7 Ålesund, Norway"
14,OPERATIONAL,Nille,4.1,35,NaN,"F5C3+9H Ålesund, Norway"

In [150]:
Indian= df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Indian

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Tajmahal Tandoori Restaurant,4,509,2,"F5G4+4J Ålesund, Norway"

In [170]:
Kebab = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Kebab

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Sāma Golden Kebab,4.2,71,NaN,"F5F4+39 Ålesund, Norway"
1,OPERATIONAL,Emil's Burger & Kebab House,4.0,283,1.0,"F5C2+7C Ålesund, Norway"
2,OPERATIONAL,Kebab King,4.2,6,NaN,"F5C6+F3 Ålesund, Norway"
3,OPERATIONAL,Yamma Pizza Kebab,0.0,0,NaN,"F5C8+FH Ålesund, Norway"
4,OPERATIONAL,Master Mat,4.0,125,NaN,"F5C8+FH Ålesund, Norway"
5,OPERATIONAL,Ålesund Kebab Shawerma & Pizza (Halal),4.1,299,NaN,"F5C3+J8 Ålesund, Norway"
6,OPERATIONAL,Express Pizza,4.2,214,NaN,"F5C2+QG Ålesund, Norway"
7,OPERATIONAL,Jafs,4.2,658,2.0,"F5C2+9W Ålesund, Norway"
8,OPERATIONAL,Lamella As,0.0,0,NaN,"F5C7+RX Ålesund, Norway"
9,OPERATIONAL,Lille Aalesund,4.0,4,NaN,"F5C2+9V Ålesund, Norway"
10,OPERATIONAL,Pluto Kiosk og Gatekjøkken,4.2,402,2.0,"F6FJ+39 Ålesund, Norway"
11,OPERATIONAL,Tajmahal Tandoori Restaurant,4.0,509,2.0,"F5G4+4J Ålesund, Norway"
12,OPERATIONAL,Smultringhuset AS,4.0,7,NaN,"F5F4+4F Ålesund, Norway"
13,OPERATIONAL,Anno Restaurant & Lounge Bar,4.3,848,2.0,"F5C2+FF Ålesund, Norway"
14,OPERATIONAL,Big Bite Kremmergården,3.7,30,1.0,"F5C3+QW Ålesund, Norway"
15,OPERATIONAL,The Real American Steakhouse,3.8,373,2.0,"F5C2+VR Ålesund, Norway"
16,OPERATIONAL,XL Diner,4.5,781,3.0,"F5F3+PX Ålesund, Norway"
17,OPERATIONAL,Zuuma,4.4,903,2.0,"F5F4+CG Ålesund, Norway"
18,OPERATIONAL,T&T Sushi,3.7,15,NaN,"F5C6+G5 Ålesund, Norway"

In [154]:
Italian= df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Italian

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Nonna Lina ristorante pizzeria café,4.5,740,2.0,"F5C4+GF Ålesund, Norway"
1,OPERATIONAL,Cinque minuti,4.6,476,2.0,"F5F4+GR Ålesund, Norway"
2,OPERATIONAL,Steinovnen Bar & Pizzeria,4.2,358,2.0,"F5C8+Q8 Ålesund, Norway"
3,OPERATIONAL,Italian Home AS,0.0,0,NaN,"F6FR+VX Ålesund, Norway"
4,OPERATIONAL,Anno Restaurant & Lounge Bar,4.3,848,2.0,"F5C2+FF Ålesund, Norway"
5,OPERATIONAL,XL Diner,4.5,781,3.0,"F5F3+PX Ålesund, Norway"
6,OPERATIONAL,Ålesund Kebab Shawerma & Pizza (Halal),4.1,299,NaN,"F5C3+J8 Ålesund, Norway"
7,OPERATIONAL,Let’s Eat Deli Ålesund,4.5,195,2.0,"F5C5+GQ Ålesund, Norway"
8,OPERATIONAL,Vino Bar,4.8,141,NaN,"F5C2+M9 Ålesund, Norway"
9,OPERATIONAL,Egon,3.9,1410,2.0,"F5F5+4F Ålesund, Norway"
10,OPERATIONAL,Dampsentralen,4.2,106,NaN,"F5C5+F6 Ålesund, Norway"
11,OPERATIONAL,Rotsabieng AS,4.8,79,1.0,"F5C7+HR Ålesund, Norway"
12,OPERATIONAL,Krua Thai,4.3,50,NaN,"F5C6+H5 Ålesund, Norway"
13,OPERATIONAL,Språkøret,0.0,0,NaN,"F5C5+J5 Ålesund, Norway"

In [166]:
Cafe = df[['business_status','name','rating','user_ratings_total','price_level','plus_code.compound_code']]
Cafe

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code
0,OPERATIONAL,Dråpe Ålesund Kaffehus,4.5,592,2.0,"F5C6+Q3 Ålesund, Norway"
1,OPERATIONAL,Racoon Coffee,4.5,627,2.0,"F5F4+7J Ålesund, Norway"
2,OPERATIONAL,Apoteker'n Café,4.2,11,NaN,"F5C2+C8 Ålesund, Norway"
3,OPERATIONAL,Kafé Kremmergaarden,4.2,66,2.0,"F5C4+H4 Ålesund, Norway"
4,OPERATIONAL,"Café Mio, Mio",0.0,0,NaN,"F5C3+75 Ålesund, Norway"
5,OPERATIONAL,Kantina kafé,4.3,158,2.0,"C5RQ+44 Langevåg, Norway"
6,OPERATIONAL,Tante Bruun interior and design AS,4.2,58,2.0,"F5F5+44 Ålesund, Norway"
7,OPERATIONAL,Maru Cha,4.5,17,NaN,"F5F4+CP Ålesund, Norway"
8,OPERATIONAL,Bymisjonssenteret,4.5,14,NaN,"F5F6+4J Ålesund, Norway"
9,OPERATIONAL,Fumo Cafe & Bar,4.8,41,NaN,"F5F4+CR Ålesund, Norway"
10,OPERATIONAL,Kølbua,4.8,11,NaN,"C5RP+4M Langevåg, Norway"
11,OPERATIONAL,Valaker bakeri,3.9,48,NaN,"F5C3+FF Ålesund, Norway"
12,OPERATIONAL,Let’s Eat Deli Ålesund,4.5,195,2.0,"F5C5+GQ Ålesund, Norway"
13,OPERATIONAL,Green Garden,4.5,21,NaN,"F5F5+48 Ålesund, Norway"
14,OPERATIONAL,Nonna Lina ristorante pizzeria café,4.5,740,2.0,"F5C4+GF Ålesund, Norway"
15,CLOSED_TEMPORARILY,LUN CAFEBAR,4.6,33,NaN,"C5RR+HG Langevåg, Norway"
16,CLOSED_TEMPORARILY,Klipra kafé,4.5,4,NaN,"F5CF+JX Ålesund, Norway"
17,OPERATIONAL,Ta det Piano (Piano Bar & Backyard),4.2,181,2.0,"F5C5+MG Ålesund, Norway"
18,OPERATIONAL,Fjellstua Aksla AS,4.4,991,2.0,"F5F7+PM Ålesund, Norway"
19,OPERATIONAL,Cinque minuti,4.6,477,2.0,"F5F4+GR Ålesund, Norway"

In [157]:
Indian["Type"] = "Indian"
Indian

<ipython-input-157-c7e81b01a435>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Indian["Type"] = "Indian"

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code,Type
0,OPERATIONAL,Tajmahal Tandoori Restaurant,4,509,2,"F5G4+4J Ålesund, Norway",Indian

In [162]:
Indian = Indian.drop('col3', axis =1)
Indian

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code,Type
0,OPERATIONAL,Tajmahal Tandoori Restaurant,4,509,2,"F5G4+4J Ålesund, Norway",Indian

In [ ]:
Bakeri.insert(6, 'Type', 'Bakeri')
Bakeri.iloc[:, [6]]

Burger.insert(6, 'Type', 'Burger')
Burger.iloc[:, [6]]

bowl.insert(6, 'Type', 'Bowl')
bowl.iloc[:, [6]]

Cafe.insert(6, 'Type', 'Cafe')
Cafe.iloc[:, [6]]

Asian.insert(6, 'Type', 'Asian')
Asian.iloc[:, [6]]

Pizza.insert(6, 'Type', 'Pizza')
Pizza.iloc[:, [6]]

Italian.insert(6, 'Type', 'Italian')
Italian.iloc[:, [6]]

Kebab.insert(6, 'Type', 'Kebab')
Italian.iloc[:, [6]]

Grill.insert(6, 'Type', 'Grill')
Grill.iloc[:, [6]]

Sushi.insert(6, 'Type', 'Sushi')
Sushi.iloc[:, [6]]

In [184]:
Alesun = pd.concat([Bakeri,Burger,bowl,Cafe,Asian,Pizza,Italian,Kebab,Grill,Sushi], axis=0)
Alesun

,business_status,name,rating,user_ratings_total,price_level,plus_code.compound_code,Type
0,OPERATIONAL,Valaker bakeri,3.9,48,NaN,"F5C3+FF Ålesund, Norway",Bakeri
1,OPERATIONAL,Valaker,3.9,56,NaN,"F5F5+3G Ålesund, Norway",Bakeri
2,OPERATIONAL,Walderhaug Bakery and Confectionery,4.4,385,2.0,"F5G4+22 Ålesund, Norway",Bakeri
3,OPERATIONAL,Bakerinnå,5.0,8,NaN,"F5C3+MW Ålesund, Norway",Bakeri
4,OPERATIONAL,Flobeu | Bakeri - Konditori | Ålesund,5.0,6,NaN,"F5C5+H2 Ålesund, Norway",Bakeri
...,...,...,...,...,...,...,...
8,OPERATIONAL,Krua Thai,4.3,50,NaN,"F5C6+H5 Ålesund, Norway",Sushi
9,OPERATIONAL,Wok&Grill,4.5,113,NaN,"F5C6+M9 Ålesund, Norway",Sushi
10,OPERATIONAL,Express Pizza,4.2,214,NaN,"F5C2+QG Ålesund, Norway",Sushi
11,OPERATIONAL,Sāma Golden Kebab,4.2,71,NaN,"F5F4+39 Ålesund, Norway",Sushi
12,OPERATIONAL,Krua Thai Takeaway AS,0.0,0,NaN,"F445+8M Ålesund, Norway",Sushi

In [189]:
Alesun.to_csv("An.csv", encoding='utf-16', sep = ',')

In [197]:
NoVenues = pd.read_clipboard()

In [198]:
NoVenues.name.value_counts(normalize = True)*100

name
6.0    38.299419
7.0    15.988372
9.0     9.338663
2.0     9.229651
3.0     7.594477
5.0     7.231105
4.0     5.777616
1.0     4.614826
8.0     1.925872
Name: proportion, dtype: float64